<div class="card col-md-4 mx-auto mt-3 mb-3">
    <div class="card-header bg-info text-center mb-3">
      <h5 style="color: white">Editar Operador</h5>
    </div>
    <form action="" method="get">
      <div class="mb-3">
        <i class="fa-solid fa-user"></i>
        <input
          type="text"
          class="form-control"
          id="nombrecomp"
          placeholder="Nombre completo"
        />
      </div>
      <div class="mb-3">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Correo electronico"
        />
      </div>
      <div class="mb-3">
        <i class="fa-solid fa-phone"></i>
        <input
          type="tel"
          class="form-control"
          id="phonenumber"
          placeholder="Teléfono/Celular"
        />
      </div>
      <div class="mb-3">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <input
          type="text"
          class="form-control"
          id="exampleAddress"
          placeholder="Dirección"
        />
      </div>
      <div class="mb-3">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input
          type="text"
          class="form-control"
          id="exampleUser"
          placeholder="Usuario"
        />
      </div>
      <div class="mb-3">
        <i class="fa-solid fa-key"></i>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Contraseña"
        />
      </div>
      <div class="mb-3">
        <i class="fa fa-repeat" aria-hidden="true"></i>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Repetir Contraseña"
        />
      </div>
      <button type="submit" class="btn btn-success">Guardar</button>
      <br />
    </form>
  </div>
  <div id="espacio" style="padding: 30px;"></div>
  
